# Sepolia testnet RPC endpoint
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/z8oGXBDZAafKMLfvbCZny

# Polygon Amoy testnet RPC endpoint
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/tOOJmGFncXMD_iy__a1PT

# Private key for the relayer account (without 0x prefix)
PRIVATE_KEY=4080212f8cb35ea308d96f4d12b8f3f027b2486825cc2aec1677d543c24a5926

# Lock contract address on Sepolia
LOCK_CONTRACT_ADDRESS=0xbD6E0bB3cA206bfad9cd92960fd1754D7D200E56

# Mint contract address on Amoy
MINT_CONTRACT_ADDRESS=0xe1d77b8cAb36bc9518Cddc685803Ad1715dd8933
